*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

img, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button {
  cursor: pointer;
}

body {
   /* font-family: Georgia, serif;*/
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

.body_wrap{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    background-image:radial-gradient(#211F20, #5B483A, #262425);
}
.start_screen{
    max-width: 1200px;
    width: 100%;
    min-height: 908px;
    height: 100%;
    margin-left: 40px;
}

.header_wrap{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    height: 90px;
    align-items: center;
}

.header_h2{
    font-family: Georgia, serif;
    font-size: 32px;
    color: #F1CDB3;
    font-weight: 400;
    letter-spacing: 6%;
    margin-top: -9px;
}

.header_text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 10%;
    line-height: 100%;
}
.nav_list{
    display: flex;
    flex-direction: row;
    gap:35px;
}
.nav_item{
    color: #CDCDCD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.nav_item:first-child ::after {
    content: "";
    background-color: #F1CDB3;
    height: 3px;
    display: block;
    width: 100%;
}
.main_content{
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    gap: 42px;
}
.start_image{
    background: url(./image/Start\ screen.png);
    max-width: 698px;
    width: 100%;
    min-height: 728px;
}
.start_content{
    align-items: center;
    max-width: 460px;
    width: 100%;
    margin-top: 163px;
}
h1{
    font-family: Georgia, serif;
    font-size: 44px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 130%;
}
.start_content-text{
    color: #CDCDCD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-top: 42px;
}
.start_button{
    max-width: 207px;
    width: 100%;
    height: 52px;
    border-radius: 100px;
    background-color: #F1CDB3;
    margin-top: 42px;
    cursor: pointer;
    font-family: Georgia, serif;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 6%;
}
.start_button:hover{
    background-color: #FDDCC4;
}
.about_wrap{
    max-width: 1200px;
    width: 100%;
    min-height: 588px;
}
.about_content{
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    gap:120px;
}
.about_content img {
    margin-left: 215px;
    height: 408px;
}
.about_text{
    padding-top: 14px;
    max-width: 430px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.about_text h2, .pets_wrap h2, .help_wrap h2, 
.section_content h2, .contacts h2,
.locations h2{
    font-family: Georgia, serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 6%;
}
.about_text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 160%;
}
.pets{
    background-color: #F6F6F6;
}
.pets_wrap{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.pets_wrap h2, .help_wrap h2{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
}

.pet_cards{
    display: flex;
    flex-direction: row;
}
.pet_card{
    max-width: 270px;
    width: 100%;
    height: 435px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    align-items: center;

}
.pet_card img{
    max-width: 270px;
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.pet_card + .pet_card {
  margin-left: 90px;
}

.pet_cards > img:first-child {
  margin-right: 53px;
}

.pet_cards > img:last-child {
  margin-left: 53px;
}

.card_name{
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 6%;
    text-align: center;
    vertical-align: middle;
}

.card_link{
    max-width: 187px;
    width: 100%;
    height: 52px;
    border-radius: 100px;
    border: #F1CDB3 2px solid;
    cursor: pointer;
    font-family: Georgia, serif;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pet_card:hover .card_link{
    background-color: #F1CDB3;
}
.pets_button{
    max-width: 261px;
    width: 100%;
    height: 52px;
    border-radius: 100px;
    background-color: #F1CDB3;
    cursor: pointer;
    font-family: Georgia, serif;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: calc((1200px - 261px) / 2);
}
.arrow{
    width: 52px;
    height: 52px;
    margin-top: 190px;
}
.arrow:hover{
    background-color: #F1CDB3;
    cursor: pointer;
    border-radius: 25px;
}

.help_wrap{
    max-width: 1200px;
    margin: 0 auto;
}
.help_list{
    max-width: 1029px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap:55px 120px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}
h4{
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 114.99999999999999%;
    letter-spacing: 6%;
    text-align: center;
    vertical-align: middle;
}
.help_item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.help_item img{
    width: 60px;
    height: 60px;
}
.donation{
    background-color: #F6F6F6;
}
.donation_wrap{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.donation_content{
    padding-top: 90px;
    padding-bottom: 100px;
    max-width: 915px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 143px;
    gap: 30px;
}
.donation_content img{
    max-width: 505px;
    width: 100%;
    height: 261px;
}
.section_content h2{
    margin-top: -11px;
}
.section_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section_content p{
    font-family: Georgia;
    font-weight: 400;
    font-size: 15px;
    line-height: 110.00000000000001%;
    letter-spacing: 6%;
    vertical-align: middle;
}
.credit_card{
    max-width: 349px;
    width: 100%;
    height: 43px;
    background-color: #F1CDB3;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
}
.credit_card img{
    width: 30px;
    height: 23px;
}
.credit_card span{
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 114.99999999999999%;
    letter-spacing: 6%;
    vertical-align: middle;
}
.section_content p:last-child{
    font-family: Arial;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #B2B2B2;
}
footer {
  background:
    linear-gradient(0deg, #211F20, #211F20),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}
.footer_wrap{
    max-width: 1200px;
    width: 100%;
    height: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 160px;
}
.contacts, .locations{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.contacts_item, .locations_item{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.contacts h2, .locations h2{
    margin-top: 56px;
    color: #FFFFFF;
}
.contacts_item, .locations_item{
    color: #F1CDB3;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 114.99999999999999%;
    letter-spacing: 6%;
}
.locations_item img{
    width: 22px;
    height: 32px;
}
.locations_item span:first-of-type{
    margin-top: -5px;
}
.locations_item:last-of-type{
    margin-top: -10px;
}
.footer_img{
    max-width: 300px;
    width: 100%;
    height: 310px;
    margin-top: 40px;
}